<header th:fragment="header-login">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand px-5" >Biblioteca</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Show / Hide Menu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex flex-row justify-content-end" id="menu">
                <ul class="navbar-nav">
                    <li class="nav-item ">
                        <a class="nav-link btn btn-dark border border-light pr-5" th:href="@{/users/login}">Ingresar</a>
                    </li>
                </ul>
                <ul class="navbar-nav px-5">
                    <li class="nav-item ">
                        <a class="nav-link btn btn-dark border border-light pr-5" th:href="@{/users/sign-up}">Registrarme</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
