<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand px-5" th:href="@{/}">Biblioteca</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Show / Hide Menu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle pr-5" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Libros</a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item text-light" th:href="@{/books/form}">Administración Libros</a>
                            </li>
                            <li>
                                <a class="dropdown-item text-light" th:href="@{/books/get-all}">Lista Libros</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle pr-5" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Autores</a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item text-light" th:href="@{/authors/form}">Administración Autores</a>
                            </li>
                            <li>
                                <a class="dropdown-item text-light" th:href="@{/authors/get-all}">Lista Autores</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle pr-5" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Editoriales</a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item text-light" th:href="@{/editorials/form}">Administración Editoriales</a>
                            </li>
                            <li>
                                <a class="dropdown-item text-light" th:href="@{/editorials/get-all}">Lista Editoriales</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
